@font-face{font-family:'Bodoni Moda';font-style:italic;font-weight:400;src:url('fonts/BodoniModa-400i.ttf');}
@font-face{font-family:'Bodoni Moda';font-style:italic;font-weight:500;src:url('fonts/BodoniModa-500i.ttf');}
@font-face{font-family:'Bodoni Moda';font-style:normal;font-weight:400;src:url('fonts/BodoniModa-400.ttf');}
@font-face{font-family:'Bodoni Moda';font-style:normal;font-weight:500;src:url('fonts/BodoniModa-500.ttf');}
@font-face{font-family:'Jost';font-style:normal;font-weight:300;src:url('fonts/Jost-300.ttf');}
@font-face{font-family:'Jost';font-style:normal;font-weight:400;src:url('fonts/Jost-400.ttf');}
@font-face{font-family:'Jost';font-style:normal;font-weight:500;src:url('fonts/Jost-500.ttf');}