@font-face{font-family:'Cinzel';font-style:normal;font-weight:500;src:url('fonts/Cinzel-500.ttf');}
@font-face{font-family:'Cinzel';font-style:normal;font-weight:600;src:url('fonts/Cinzel-600.ttf');}
@font-face{font-family:'Cinzel';font-style:normal;font-weight:700;src:url('fonts/Cinzel-700.ttf');}
@font-face{font-family:'Cormorant Garamond';font-style:italic;font-weight:400;src:url('fonts/CormorantGaramond-400i.ttf');}
@font-face{font-family:'Cormorant Garamond';font-style:italic;font-weight:500;src:url('fonts/CormorantGaramond-500i.ttf');}
@font-face{font-family:'Cormorant Garamond';font-style:normal;font-weight:400;src:url('fonts/CormorantGaramond-400.ttf');}
@font-face{font-family:'Cormorant Garamond';font-style:normal;font-weight:500;src:url('fonts/CormorantGaramond-500.ttf');}
@font-face{font-family:'Cormorant Garamond';font-style:normal;font-weight:600;src:url('fonts/CormorantGaramond-600.ttf');}
@font-face{font-family:'Great Vibes';font-style:normal;font-weight:400;src:url('fonts/GreatVibes-400.ttf');}
@font-face{font-family:'Tiro Devanagari Sanskrit';font-style:normal;font-weight:400;src:url('fonts/TiroDevanagariSanskrit-400.ttf');}